#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: glenyfarel # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDCiIpOVmrJsLhP4gJQDQw/jipuCeAtsgo0Ev24w+ZrZA88KWwc+6nD2a5sU4/GSizfgzdQdMreAsZnoezEE37EFJhT6OxlzOsSaEt3rfNeCkBJlvOj3JujMv9gtf7ZgV6UoEzOb4Kt+u321PjhSy+Z2+8mQp9mJHycL/lKe5GwyN4k1w4kkUq58YTY9aXtvEE8nv2VNg5KsOZc+ZtTigGai2QnEPQ7GhfMGDIjeV9CNX2o37+Xsj1hebw5gIHMrSk8gAfEB7HBItbCZ3HY9wPiqXoCdO053rMSxh9rXNPV3Ws3cNAzobW23Uw8Vw6wkFoexreOy6VlO+p3vE/psDaF alvarobarbery@alvarobarbery-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
